.pixel-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

.pixel-card {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  border-radius: inherit;
  isolation: isolate;
  user-select: none;
}
